<div
  class="card border-4"
  [appCardHighlight]="
    product.discountPercentage > 20 ? 'border-info' : 'border-warning'
  "
  [ngClass]="{
    'border-success': product.discountPercentage > 20
  }"
  [id]="product.id"
>
  <img [src]="product.thumbnail" class="card-img-top" [alt]="product.title" />
  <div class="card-body">
    <h5 class="card-title">
      <a routerLink="/shop/{{ product.id }}">
        {{ product.title | uppercase }}</a
      >
    </h5>
    <p class="card-text">
      {{ product.description }}
    </p>
    <p
      class="text-decoration-line-through"
      *ngIf="product.discountPercentage > 0"
    >
      {{
        (product.price * (100 + product.discountPercentage)) / 100
          | currency : "EUR"
      }}
    </p>
    <p>{{ product.price | currency : "EUR" }}</p>
    <button
      href="#"
      class="btn btn-primary"
      *ngIf="!inCart"
      (click)="addToCart.emit(product.id)"
    >
      Add To Cart
    </button>
    <button class="btn btn-success" *ngIf="inCart">Checkout</button>
    <button class="btn btn-danger ms-2" *ngIf="inCart" (click)="onDelete()">
      Delete
    </button>
  </div>
</div>
